:root {
  --pastel-pink: #EFAFA9;
  --spanish-pink: #F2BFBA;
  --grey: #808080;
}

.appCSS {
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  background-color: #2D3142;
  font-family: Consolas;
}

.appCSS .pageTitle{
  align-items: center;
  margin: 0 auto;
}

.appCSS .title {
  font-size: 13rem;
  color: white;
  font-weight: lighter;
  margin:0;
  margin-top: -20rem;
}

.appCSS .appGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.appCSS .typeAnimation{
  font-size: 1.5rem;
  color:white;
}

.appCSS .loginForm{
  background-color: var(--pastel-pink);
  width: 70%;
  margin: 0 auto;
  height: 21rem;
  border-radius: 2rem;
}
.loginInputDiv {
  position: relative;
}

.appCSS .loginInputDiv input{
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
  border-radius: 1px solid white;
  box-sizing: border-box;
  border-width: 0 0 2px;
  border-color: black;
  background-color: var(--spanish-pink);
  outline: 0;
  font-weight: lighter;
}

.appCSS .loginInputDiv:nth-child(2){
  margin-top:2rem;
}

.appCSS .inFormContainer{
  padding: 2rem 8rem;
}

.appCSS .loginInputDiv input:focus ~ .floatingLabel,
input:not(:focus):valid ~ .floatingLabel {
  top: 10px;
  bottom: 11px;
  left: 10px;
  font-size: 1.1rem;
  opacity: 1;
}

.floatingLabel{
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 33px;
  transition: 0.2s ease all;
  font-size: 2rem;
  color: var(--grey)
}