:root {
  --pastel-pink: #efafa9;
  --spanish-pink: #f2bfba;
  --grey: #808080;
  --white: #ffffff;
  --vermillion: #db4c40;
  --melon: #EFAFA9;
  
}

.appCSS {
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  width: 100%;
  background-color: #2d3142;
  font-family: Consolas;
}

.appCSS .pageTitle {
  align-items: center;
  margin: 0 auto;
}

.appCSS .pageTitle,
.appCSS .registrationDiv {
  width: 100%;
}

.appCSS .title {
  font-size: 10rem;
  color: white;
  font-weight: lighter;
  margin: 0;
}

.appCSS .appFlexbox {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5rem;
}

.appCSS .registrationDiv {
  flex-grow: 2;
}

.appCSS .pageTitle {
  flex: 1;
}

.appCSS .typeAnimation {
  font-size: 1.5rem;
  color: white;
}

.appCSS .loginForm,
.appCSS .registrationForm {
  background-color: var(--pastel-pink);
  width: 50%;
  margin: 0 auto;
  border-radius: 2rem;
}

@media only screen and (max-width: 1400px){
  .appCSS .loginForm,
  .appCSS .registrationForm {
    width: 85%;
  }
}

.appCSS .registrationForm {
  height: 40rem;
}

.appCSS .loginForm {
  height: 21rem;
}

.appCSS .registrationForm {
  margin-top: 2rem;
}

.appCSS .loginInputDiv,
.appCSS .registrationInputDiv {
  position: relative;
}

.appCSS .registrationDiv input {
  width: 100%;
  padding-top: 1rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
  border-radius: 1px solid white;
  box-sizing: border-box;
  border-width: 0 0 2px;
  border-color: black;
  background-color: var(--spanish-pink);
  outline: 0;
  font-family: Consolas;
  height: 5rem;
}

.appCSS .loginInputDiv:first-child input {
  font-family: "Montserrat", sans-serif;
}

.appCSS .registrationInputDiv *:not(.registrationInputDiv:first-child),
.appCSS .loginInputDiv:nth-child(2) {
  margin-top: 2rem;
}

.appCSS .inFormContainer {
  padding: 2rem 3.5rem;
}

.appCSS .loginInputDiv input:focus~.floatingLabel,
input:not(:focus):valid~.floatingLabel {
  top: 5px;
  bottom: 11px;
  left: 10px;
  font-size: 1.1rem;
  opacity: 1;
}

.appCSS .registrationInputDiv input:focus~.floatingLabel,
input:not(:focus):valid~.floatingLabel {
  top: 5px;
  bottom: 11px;
  left: 10px;
  font-size: 1.1rem;
  opacity: 1;
}

.floatingLabel {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 21px;
  transition: 0.2s ease all;
  font-size: 2rem;
  color: var(--grey);
}