.filterMenuMain {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.filterMenuMain .modalityChecklistContainer {
}

.filterMenuMain .modality{
    display:flex;
    flex-direction: column;
    width: 150px;
}

.filterMenuMain .modalityChecklistContainer .checkboxContainer {
    display: flex;
}

.filterMenuMain .modalityChecklistContainer .checkboxContainer label{
    width: 70%;
}

