.filterMenuMain {
    display: flex;
    flex-direction: column;
}

.filterMenuMain>div {
    width: 150px;
}

.filterMenuMain .salary,
.filterMenuMain .locationFilter,
.filterMenuMain .modality,
.filterMenuMain .company,
.filterMenuMain .statusFilter {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.filterMenuMain  .checkboxContainer
 {
    display: flex;
}

.filterMenuMain  .checkboxContainer label {
    width: 70%;
}

.filterMenuMain .salary input {
    width: 55%;
    display: block;
}

.filterMenuMain .salary div>label:first-child input {
    margin-bottom: 10px
}

.filterMenuMain h3 {
    margin-bottom: 0
}

.filterMenuMain .locationFilter input,
.filterMenuMain .company input {
    display: block;
    width: 85%;
}

.filterMenuMain .stateFilter,
.filterMenuMain .company {
    margin-top: 10px
}