.jobPreviewCSS {
  margin-top: 1.25rem;
}

.jobPreviewCSS .jobContainer{
  width: 100%;
}


.jobPreviewCSS .previewContainer {
  position: relative;
  /* border-radius: 1rem; */
  background-color: var(--vermillion);
  color: var(--white);
  height: 4rem;
  margin: 0 auto;
  padding: 1rem 0 5rem 0;
  box-sizing: border-box;
  transition: 0.1s ease;
}

/*ONLY WHEN EXPANDED*/
.jobPreviewCSS .flattenBorder {
  border-radius: 1rem 1rem 0 0;
}

.jobPreviewCSS .flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  height: 4rem;
  position: absolute;
  left: 1rem
}

.jobPreviewCSS .flexContainer>div {
  flex-grow: 1;
  width: 50%;
}

.jobPreviewCSS .flexContainer>div:nth-child(2) {
  text-align: right;
}

.jobPreviewCSS .arrowIcon {
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;

}

.jobPreviewCSS .arrowIcon svg {
  transform: rotate(0);
  transition: transform 1s ease;
}

.jobPreviewCSS .arrowIconRotate svg {
  transform: rotate(180deg);
}


/*EXPANDABLE*/
.jobPreviewCSS .applicationDetailsCollapsed {
  background-color: var(--melon);
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition:all 0.5s ease-out;  
}


.jobPreviewCSS .applicationDetails {
  background-color: var(--melon);
  margin: 0 auto;
  box-sizing: border-box;
  /*max height should be big enough to contain text inside. Otherwise it overflows at the bottom and causes issues*/
  max-height: 150rem; 
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in;
}

.jobPreviewCSS .buttons div {
  display: inline;
  margin-left: 1rem;

}

.jobPreviewCSS .buttons {
  margin-top: 2rem;
  padding-bottom:1rem;
}

/*UPDATES*/
.jobPreviewCSS {
  position: relative;
}

.jobPreviewCSS .updatesContainer{
  padding: 0 1rem 0rem 1rem;
}

.jobPreviewCSS .updatesContainer h4 {
  margin-top: 0;
  padding-top:0.5rem;
}

.jobPreviewCSS .seeMore {
  color: #0000EE;
  cursor: pointer;
}

.jobPreviewCSS .updateContainer>div {
  display: flex;
  gap: 40px;
  width: 95%;
  /* padding-top:1rem */
}

.jobPreviewCSS .updateContainer:not(:first-child) {
  margin-top: 1rem;
}


.jobPreviewCSS .updateDate {
  flex-grow: 1;
  text-align: right;
}

.jobPreviewCSS .applicationDescriptionContainer{
  padding: 0 1rem 0rem 1rem
}

.jobPreviewCSS .jobpostlink{
  margin-top:0.5rem;
}