.jobPreviewCSS {
  background-color: var(--vermillion);
  color: var(--white);
  width: 60%;
  height: 4rem;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 6rem;
}

.jobPreviewCSS .flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 87%;
  margin: 0 auto;
}

.jobPreviewCSS .flexContainer > div {
  flex-grow: 1;
}
