.jobPreviewCSS {
  margin-top: 4rem;
}

.jobPreviewCSS .previewContainer {
  position: relative;
  border-radius: 1rem;
  background-color: var(--vermillion);
  color: var(--white);
  width: 40%;
  height: 4rem;
  margin: 0 auto;
  padding: 1rem 0 0rem 0;
}

.jobPreviewCSS .flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  height: 4rem;
  position: absolute;
  left: 1rem
}

.jobPreviewCSS .flexContainer>div {
  flex-grow: 1;
  width: 50%;
}

.jobPreviewCSS .flexContainer>div:nth-child(2) {
  text-align: right;
}

.jobPreviewCSS .arrowIcon {
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;

}

.jobPreviewCSS .arrowIcon svg {
  transform: rotate(0);
  transition: transform 1s ease;
}


/*EXPANDABLE*/
.jobPreviewCSS .applicationDetails {
  background-color: var(--melon);
  width: 40%;
  margin: 0 auto;
}

/*ONLY WHEN EXPANDED*/
.jobPreviewCSS .previewContainer {
  border-radius: 1rem 1rem 0 0;
}

/*Change the hover to on click*/
.jobPreviewCSS .arrowIcon svg:hover {
  transform: rotate(180deg);
}

.jobPreviewCSS .buttons div {
  display: inline;
  margin-left:1rem;
  
}

.jobPreviewCSS .buttons {
  margin-top: 2rem;
}