.searchBarCSS {
    flex-grow: 2;

}

.searchBarCSS input {
    width: 95%;
    padding: 0 0 0 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border-color: var(--white);
    border: 0;
}

.searchBarCSS input:focus {
    outline: none;
}