.searchBarCSS{
    padding-top: 4rem;
    /* display:flex; */
margin: 0 auto
}

.searchBarCSS input{
    width: 35rem;
    padding: 0 0 0 3rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border-color: var(--white);
    border: 0;    
    margin: 0 auto
}

.searchBarCSS input:focus{
    outline: none;
}