.jobsCSS {
  min-height: 100vh;
  width: 100%;
  background-color: #2d3142;
  font-family: Consolas;
}

.jobsCSS .logonOptions {
  display: flex;
  width: 13rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: 3rem;
}

.jobsCSS .logonOptions div {
  flex-grow: 1;
  color: var(--white);
}

.jobsCSS .logonOptions div:nth-child(3) {
  cursor: pointer;
}

.jobsCSS .alignContainer{
  display: flex;
  flex-direction: column;
  margin-left:30%;
}